:root { 
--blue_gray_100_63:#d8d8d863; 
--red_700:#bd3d44; 
--blue_gray_50:#e6ecef; 
--blue_A400:#1573fe; 
--blue_gray_100_01:#c2d1d9; 
--blue_gray_100_02:#d8d8d8; 
--blue_gray_100_03:#cccccc; 
--red_300:#bc8262; 
--red_500:#eb4335; 
--blue_A200:#4285f4; 
--amber_A200:#efde48; 
--green_600:#34a853; 
--gray_50:#f3f8ff; 
--white_A700_33:#ffffff33; 
--yellow_600:#f4d42a; 
--black_900:#000000; 
--blue_gray_800:#424b5a; 
--blue_gray_700:#505d68; 
--gray_600:#807b7b; 
--gray_900_02:#1f120b; 
--blue_gray_50_01:#e9ecef; 
--gray_700:#686868; 
--gray_600_02:#757575; 
--gray_400:#b8b8b8; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d3d3d3; 
--gray_600_01:#8e8282; 
--lime_500:#d8d23c; 
--gray_500:#9e9e9e; 
--blue_gray_400:#868686; 
--amber_500:#fbbc05; 
--blue_gray_300:#a1aeb7; 
--gray_900:#212121; 
--gray_900_01:#222222; 
--gray_200:#ececec; 
--gray_100:#f2f5f7; 
--indigo_900:#192f5d; 
--blue_gray_400_01:#8b8b8b; 
--white_A700:#ffffff; 
}